[submodule "71-blog-for-deployment"]
	path = 71-blog-for-deployment
	url = https://github.com/mkubincova/blog-for-deployment.git
[submodule "82-text-to-morse-code"]
	path = 82-text-to-morse-code
	url = git@github.com:mkubincova/text-to-morse-code.git
[submodule "83-flask-portfolio-site"]
	path = 83-flask-portfolio-site
	url = git@github.com:mkubincova/flask-portfolio-site.git
