.color-title {
    font-weight: normal;
}

img {
    width: 200px;
    aspect-ratio: 1;
}

#red {
    color: red;
}
#blue {
    color: blue;
}
#orange {
    color: orange;
}
#green {
    color: green;
}
#yellow {
    color: yellow;
}