{% extends 'base.html' %}
<!--Don't forget your import here-->
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Add A New Cafe{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <div class="d-flex flex-row my-3 justify-content-between align-items-center">
          <h1>Add a new cafe into the database</h1>
          <a href="{{ url_for('cafes') }}">See all cafes</a>
      </div>

      <!-- This is where your WTForm will go -->
      {{ render_form(form, novalidate=True) }}
    </div>
  </div>
</div>

{% endblock %}
